.dark {
  --bg-main: var(--clr-grey-900);
  --color-hover: var(--clr-grey-600);
  --color-txt: var(--clr-grey-200);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.calendar {
  height: fit-content;
  width: fit-content;
  background-color: var(--bg-main);
  color: var(--clr-grey-200);
  border-radius: 30px;
  padding: 20px;
  position: absolute;
  top: 40px;
  right: -40px;
  z-index: 10;
  overflow: hidden;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.month-picker,
.months div {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover,
.months div:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

/* Months */
.months {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 1rem;
}

.month {
  font-size: 1.1rem;
  color: var(--color-txt);
}

.calendar-days div {
  z-index: 10;
}

.calendar-days div:hover::before,
.current-day {
  content: "";
  height: 50px;
  width: 50px;
  background-color: var(--clr-lime-300);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
