* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calendar {
  --bg-main: var(--clr-grey-900);
  --color-hover: var(--clr-grey-600);
  --color-txt: var(--clr-grey-200);

  height: fit-content;
  width: fit-content;
  background-color: var(--bg-main);
  color: var(--color-txt);
  border-radius: 20px;
  padding: var(--size-200);
  position: absolute;
  top: 40px;
  right: -40px;
  z-index: 10;
  overflow: hidden;

  animation: calendar-display 0.5s ease;
}

@keyframes calendar-display {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-650);
  font-weight: var(--fw-bold);
  color: var(--color-txt);
  padding: var(--size-300);
}

.calendar-body {
  padding: var(--size-300);
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: var(--fw-normal);
  color: var(--clr-grey-500);
  font-size: var(--fs-500);
}

.calendar-week-day div {
  display: grid;
  place-items: center;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--size-50);
  color: var(--color-txt);
  font-size: var(--fs-300);
}

.calendar-days div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-100);
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.month-picker,
.months div {
  padding-block: var(--size-100);
  padding-inline: var(--size-200);
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover,
.months div:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

/* Months */
.months {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 1rem;
}

.month {
  font-size: var(--fs-400);
  color: var(--color-txt);
}

.calendar-days div {
  z-index: 10;
}

.calendar-days div:hover::before,
.current-day {
  content: "";
  height: 40px;
  width: 40px;
  background-color: var(--clr-lime-300);
  color: var(--clr-grey-900);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.calendar-days div:hover {
  color: var(--clr-grey-900);
}
