:root {
  /* color palette */
  --clr-lime-300: hsl(82, 85%, 67%);
  --clr-lime-400: hsl(83, 78%, 55%);

  --clr-grey-200: hsl(72, 33%, 97%);
  --clr-grey-300: hsl(54, 36%, 95%);
  --clr-grey-400: hsl(180, 1%, 84%);
  --clr-grey-500: hsl(72, 2%, 57%);
  --clr-grey-600: hsl(260, 2%, 27%);
  --clr-grey-900: hsl(210, 10%, 16%);

  --clr-amber-200: hsl(48, 97%, 77%);
  --clr-amber-600: hsl(20, 64%, 58%);

  --clr-purple-300: hsl(269, 97%, 85%);
  --clr-purple-800: hsl(267, 34%, 40%);

  --clr-fuchsia-300: hsl(291, 93%, 83%);
  --clr-fuchsia-800: hsl(298, 36%, 41%);

  --clr-blue-900: hsl(216, 50%, 28%);
  --clr-blue-300: hsl(212, 96%, 78%);

  --clr-gold-800: hsl(49, 49%, 39%);
  --clr-gold-300: hsl(49, 52%, 80%);

  /* project font(s) */
  --ff-primary: Rubik, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  /* font weights*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* font sizes */
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.125rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-nav: var(--fs-400);
  --fs-button: var(--fs-400);

  /* general spacing */
  --size-50: 0.125rem;
  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
  --size-1000: 8rem;
}

/* @media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-nav: var(--fs-400);
  }
} */

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
html,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Desird scroll bar setting */

.main::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 0.6rem;
}

.main::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--clr-grey-500);
  border-radius: 10px;
}

/* @supports () {
} */

/* GENERAL CLASS */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-grey-900);
  background-color: var(--clr-grey-200);
  text-rendering: optimizeSpeed;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-100);
}

svg {
  aspect-ratio: 1;
  width: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: clamp(3rem, 50%, 16rem) minmax(40vw, 1fr);
}

/* sidebar layout */
/* ==================================== */
.sidebar,
.main {
  height: 100vh;
  padding-block: var(--size-600);
  overflow-y: auto;
}

.main-content-section {
  overflow-y: auto;
}
/* ================================= */
.sidebar {
  position: relative;
}

.sidebar::after {
  content: "";
  background: var(--clr-grey-400);
  position: absolute;
  inset-block: var(--size-500);
  right: 0;
  width: 1.5px;
}

.logo-wrap {
  align-items: center;
  margin-bottom: var(--size-700);
}

.icon-logo {
  width: 30px;
}

.sidebar button {
  margin-bottom: var(--size-600);
}

.nav-sidebar-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-200);
}

.nav-sidebar-item {
  padding-block: var(--size-200);
}

.nav-sidebar-item:not(.free-plan):hover {
  cursor: pointer;
  background-color: var(--clr-grey-300);
  border-radius: 8px;
}

.no-of-projects-range {
  position: relative;
}

#projects-range {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  outline: none;
  border-radius: 3px;
  background-color: var(--clr-grey-400);
}

#projects-range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#progress-bar {
  width: 70%;
  height: 5px;
  background: rgb(212, 250, 145);
  background: linear-gradient(
    90deg,
    rgba(212, 250, 145, 1) 1%,
    rgba(161, 230, 51, 1) 100%
  );
  position: absolute;
  border-radius: 3px;
  top: 50%;
}

/* main */
.position-sticky {
  background-color: var(--clr-grey-200);
  position: sticky;
  z-index: 1;
  top: 0;
}

.team-members {
  display: inline-flex;
}

.avatar {
  position: relative;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
}

.avatar:not(:first-child) {
  margin-left: -1.2rem;
}

.other-members-wrap {
  color: white;
  font-weight: var(--fw-bold);
  background-color: var(--clr-grey-900);
}

.other-members-no {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.btn-app {
  padding: 0.4rem 1rem;
  background: var(--clr-grey-200);
  border: 1px solid var(--clr-grey-400);
  border-radius: 5px;
}

.nav-main-item {
  padding-bottom: 1.2rem;
}

.nav-main-item a {
  text-decoration: none;
  color: var(--clr-grey-900);
}

.active {
  border-bottom: 3px solid var(--clr-lime-400) !important;
  margin-bottom: -2px;
}

.search-section {
  border-block: 1px solid var(--clr-grey-400);
  padding-block: var(--size-300);
}

input:where([type="text"]) {
  border-style: hidden;
  background-color: var(--clr-grey-200);
}

input:where([type="text"]):focus {
  outline: 1px solid var(--clr-grey-200);
}

input::placeholder {
  font-size: var(--fs-400);
}

/* toggle switch */
input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background-color: white;
  transition: left 0.3s;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked {
  background: var(--clr-lime-300);
}

input[type="checkbox"]:checked::after {
  left: 70%;
}

.select-timeframe {
  position: relative;
}

[data-expand="true"] {
  animation: rotate-180 0.3s ease-in;
  transform: rotate(180deg);
}

@keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

[data-expand="false"] {
  animation: rotate-0 0.3s ease-out;
}

@keyframes rotate-0 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.content-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.to-do,
.in-progress,
.completed {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  max-width: 350px;
  padding: var(--size-500);
  background-color: white;
  border-radius: 15px;
}

.card .avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.card > * {
  margin-bottom: var(--size-400);
}

.new-task {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-grey-500);
}

.card-header,
.card-date {
  color: var(--clr-grey-500);
  fill: var(--clr-grey-500);
}

.card-date {
  font-size: var(--fs-300);
}

[data-tag="true"]::before {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  font-size: var(--fs-300);
  border-radius: var(--size-500);
  padding-inline: var(--size-300);
  margin-bottom: var(--size-500);
}
/* UTILITY CLASS */
.container {
  padding-inline: 2rem;
  height: 100%;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--size-200);
}

.flex-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between-col {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.primary-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-bold);
}

.secondary-heading {
  font-family: var(--ff-heading);
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-bold);
}

.hidden {
  display: none !important;
}

.margin-bottom {
  margin-bottom: var(--size-500);
}

.padding-top {
  padding-top: var(--size-600);
}

.font-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.font-light {
  font-weight: var(--fw-light);
}

.fs-400 {
  font-size: var(--fs-400);
}

.tag-high-priority::before {
  content: "High";
  color: var(--clr-amber-600);
  background-color: var(--clr-amber-200);
}

.tag-medium-priority::before {
  content: "Medium";
  color: var(--clr-gold-800);
  background-color: var(--clr-gold-300);
}

.tag-low-priority::before {
  content: "Low";
  color: var(--clr-grey-500);
  background-color: var(--clr-grey-400);
}

.btn-primary {
  color: var(--clr-grey-600);
  background-color: var(--clr-lime-300);
}

.btn-secondary {
  color: var(--clr-grey-200);
  background-color: var(--clr-grey-900);
  fill: white;
}

.btn-rect {
  padding-block: var(--size-200);
  padding-inline: var(--size-500);
  border: none;
  border-radius: var(--size-100);
}

.btn-circle {
  padding: var(--size-200);
  border: none;
  border-radius: 50%;
}

.tag-prototype::before {
  content: "Prototype";
  color: var(--clr-purple-800);
  background-color: var(--clr-purple-300);
}

.tag-research::before {
  content: "Research";
  color: var(--clr-fuchsia-800);
  background-color: var(--clr-fuchsia-300);
}

.tag-design::before {
  content: "Design";
  color: var(--clr-blue-900);
  background-color: var(--clr-blue-300);
}

.tag-design-system::before {
  content: "Design System";
  color: var(--clr-gold-800);
  background-color: var(--clr-gold-300);
}
